body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.banner {
    text-align: center;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    height: 270px;
    background: url(../images/cc1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cupcake {
    padding: 30px;
    display: inline-block;
}

img {
    border: 0.2px solid;
    border-radius: 55%;
}

.products {
    margin-left: 8.5%;
    padding: 20px;
}

.bio {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.flashy {
    text-align: center;
    color: red;
    font-style: italic;
}

.description {
    text-align: center;
}

.add_to_cart_btn {
    text-align: center;
}

.page-footer {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://static.pexels.com/photos/48184/bun-sweets-pastries-pastry-shop-48184.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
